@import url(../fonts/circleRound/styles.css);
@import url(../fonts/intro/intro.css);
@import url(../fonts/openSans/opensans.css);
@import 'modules/mixins';
@import 'modules/sections';
@import 'modules/header';
@import 'modules/menuLine';
@import 'modules/directions';
@import 'modules/benefit';
@import 'modules/styles';
@import 'modules/aboutTeacher';
@import 'modules/gallery';
@import 'modules/contacts';
@import 'modules/footer';

body {
	font-family: 'CirceRounded-Regular4';
	margin: 0;
	padding: 0;
}

canvas {
	position: absolute;
	z-index: -100000;
}

.moveTop {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
