.benefit {
	padding: 30px;
}

.benefit_wrap {
	@include container-fluid;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.benefit_info {
	width: 50%;

	li {
		list-style:none;
		margin-top: 10px;
	}
}

.benefit_card {
	width: 33%;
	padding: 20px;
	box-sizing: border-box;
	font-family: 'Open Sans';

	p {
		color: rgba(0, 0, 0, .6);
	}

	@media screen and ($mobile-width) {
		width: 90%;
	}
}

.benefit_card_title {
	text-transform: uppercase;
	font-weight: bold;
}