.section_title {
	font-size: 2.3em;
	text-align: center;
	font-family: 'Intro';
	text-transform: uppercase;
	margin-top: 0;

	&::before {
		content: ' ';
		display: block;
		background-color: #00BF9A;
		border: 1px solid #00BF9A;
		border-radius: 2px;
		width: 250px;
		height: 3px;
		margin: 65px auto 30px auto;
	}
}